In [1]:
import yfinance as yf

In [32]:

data = yf.download(tickers = "SPY AAPL MSFT",  period = "1d",)

[*********************100%***********************]  3 of 3 completed

In [33]:
data

             Adj Close                               Close              \
                  AAPL        MSFT         SPY        AAPL        MSFT
Date
2021-02-01  134.139999  239.649994  376.230011  134.139999  239.649994

                              High                            Low              \
                   SPY        AAPL   MSFT         SPY        AAPL        MSFT
Date
2021-02-01  376.230011  135.380005  242.5  377.339996  130.931503  232.460007

                          Open                             Volume            \
                   SPY    AAPL        MSFT         SPY       AAPL      MSFT
Date
2021-02-01  370.376007  133.75  235.059998  373.720001  104212352  33314193


                 SPY
Date
2021-02-01  75817597

In [8]:
import pandas as pd

In [10]:
df = pd.DataFrame(data=data)

In [31]:
df.sort_values('Close')

ValueError: The column label 'Close' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [15]:
msft_adj = df.iloc[:, 1:2]

In [17]:
msft_adj.values

array([[239.6499939]])

In [18]:
a =[]
a.append(msft_adj.values)

In [19]:
a

[array([[239.6499939]])]

In [23]:
df.values

array([[1.34139999e+02, 2.39649994e+02, 3.76230011e+02, 1.34139999e+02,
        2.39649994e+02, 3.76230011e+02, 1.35380005e+02, 2.42500000e+02,
        3.77339996e+02, 1.30931503e+02, 2.32460007e+02, 3.70376007e+02,
        1.33750000e+02, 2.35059998e+02, 3.73720001e+02, 1.04212352e+08,
        3.33141930e+07, 7.58175970e+07]])