In [2]:
import yfinance as yf

msft = yf.Ticker("MSFT")
print(msft)

yfinance.Ticker object <MSFT>

In [3]:
msft.info()

TypeError: 'dict' object is not callable

In [5]:
import yfinance as yf
data = yf.download("AAPL MSFT TSLA AMZN WMT FB GOOGL NFLX", start="2021-04-10")
data

[*********************100%***********************]  8 of 8 completed

             Adj Close                                                    \
                  AAPL         AMZN          FB        GOOGL        MSFT
Date
2021-04-09  133.000000  3372.199951  312.459991  2270.669922  255.850006
2021-04-09  132.994995  3372.199951  312.459991  2270.669922  255.850006

                                                    Close               ...  \
                  NFLX       TSLA         WMT        AAPL         AMZN  ...
Date                                                                    ...
2021-04-09  555.309998  677.02002  139.779999  133.000000  3372.199951  ...
2021-04-09  555.309998  677.02002  139.779999  132.994995  3372.199951  ...

                 Open                 Volume                              \
                 TSLA         WMT       AAPL     AMZN        FB    GOOGL
Date
2021-04-09  677.77002  139.630005  106513800  4334600  15983000  1304400
2021-04-09  677.77002  139.630005  101979450  4341467  15988568  1307265


                MSFT     NFLX      TSLA      WMT
Date
2021-04-09  24315700  2886600  21402600  6888300
2021-04-09  22917371  2894034  21040625  6509630

[2 rows x 48 columns]

In [ ]:
import yfinance as yf
data = yf.download("NFLX", start="2021-04-10")
data